@model SmartTalk.ViewModels.GroupsSearchViewModel

@{
    ViewBag.Title = "TopTenGroups";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<div class="container">
    <h2>Групи</h2>
    <div class="search">
    <input type="text" id="Search_textbox" placeholder="Търси групи" />
    <button class="btn btn-primary" type="submit" id="Search_button" >Търси</button>
    </div>
    <a class="btn btn-primary" href="/Groups/Create">Създай група</a>
    <div id="content">
        @foreach (var group in Model.Groups)
        {
            <div class="list">
                <a href="/Groups/Details/@group.Id">
                <strong>@group.Name</strong>
                <br />
               Групов лидер: @group.GroupLeaderName Членове: @group.NumberOfMembers</a>
            </div>
                if(HttpContext.Current.Session["Id"] != null)
                {
                    if (group.IsLoggedUserMember == true && group.GroupLeaderName != HttpContext.Current.Session["Username"].ToString())
                    {
                        <a class="btn btn-primary btn-xs" href="/Groups/Leave/@group.Id">Напусни</a>
                    }
                    else
                    {
                        if(group.IsLoggedUserRequested == false && group.IsLoggedUserMember == false)
                        {
                            <a class="btn btn-primary btn-xs" href="/Groups/RequestGroup/@group.Id">Заяви членство</a>
                        }
                        if (group.IsLoggedUserRequested == true)
                        {
                            <span>Заявено</span>
                        }
                    }
                }
            
        }
        <br />
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            if (Model.ActivePage == i)
            {
                <span>@i</span>
            }
            else
            {
                <a href="@i">@i</a>
            }
         }

    </div>
</div>

<script type="text/javascript">
    $('document').ready(function () {
        $('#Search_button').on('click', function () {
            $.ajax({
                dataType: "html",
                type: "GET",
                url: "/Groups/SearchGroups/" + $("#Search_textbox").val() + "/1",
                success: function (result) {
                    $('#content').html(result);

                },
                error: function () {
                    alert("error");
                }
            })
        })
    })
</script>
